
	</head>
	<body>
		<section class="">
			<header class="header">
				<h1>Owl</h1>
				<input class="" placeholder="Add a task" autofocus>
			</header>
			
				
				<ul class=""></ul>
			
			
					<li>
						<%= link_to "Tasks", tasks_path %> 
					</li>
					<li>
						<%= link_to "Assignments", assignments_path %> 
					</li>
					<li>
						<%= link_to "Comments", comments_path %>
					</li>
				</ul>
				
			
		
		
		
	</body>
</html>







