<h1>You've just created the following assignment: </h1>

Title: <%= @assignment.ticket.title %><br>
Description : <%= @assignment.ticket.description %> <br>
Status: <%= @assignment.status %><br> 
Assigned to: <%= @assignment.user.username%>


