<div>
<img src="/images/Xponent_logo.png" style="width:350px;height:400px;"></div>



<% User.all.each do |user| %>
<div>
    <ul>
        <li><h2><%= user.username %></h2></li>
        <%= user.email %><br>
    </ul>
</div>
<% end %>