
<h1>Welcome, <%= @user.username.upcase %></h1>

<h2> My Assigned Customer Tickets: </h2>


    
    <h6>Show Customer Tickets Assigned to Current User Here</h6>
   


<%=  form_tag( '/logout', method:'delete') do %>
    <%= submit_tag "Logout" %>
<% end %>




