
<h1>Welcome, <%= @user.username %></h1>

<h2> My Assigned Customer Tickets: </h2>

<ol>
    Add User's Assigned Customer Tickets here

</ol>

<%=  form_tag( '/logout', method:'delete') do %>
    <%= submit_tag "Logout" %>
<% end %>




