<div class="container"> 
    <div class="row">
        <h1><%= @ticket.title %> </h1>
    </div>
    <div class="row"> 
        <%= @ticket.description %> 
    </div>
    <div class="row"> 
        Priority: <%= @ticket.priority %>
    </div>
</div>